.container-plants {
    display: flex;
    /* pour mettre à la ligne */
    flex-wrap: wrap;
    /* pour mettre à la ligne en fin de page */
    gap: 1rem;
    /* pour espacer et rem pour remplacer px, plus adaptable */
    justify-content: space-between;
       
  }

  .border-box {
    border-width: 2rem;
    border-bottom-color: green;
    border-radius : 5px
  }
